body
{
	font-size: 12px;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	color: #2e6e9e;
	background-color: #dddddd;
}

h1
{
	font-size: 24px;
	padding: 0px 20px 20px;
	margin: 0px;
	text-align: center;
}

input, textarea
{
	font-size: 14px;
	font-family: "Courier New", Courier, monospace;
	padding: 5px;
	width: 550px;
}

p > label:first-child
{
	display: inline-block;
	font-weight: 700;
	margin-bottom: 5px;
	padding-right: 15px;
	text-align: right;
	width: 200px;
}

#container
{
	margin: 0px auto;
	width: 800px;
	background-color: #eeeeee;
	padding: 20px;	
	border-radius: 5px;
	clear: both;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#submit
{
	width: auto;
}
