## Ignore InRule-specific files and folders

# InRule SDK files
[iI][rR][sS][dD][kK]/[Bb]in/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*

# Container image build source artifacts supplied by user
**/InruleLicense.xml
**/*/irCatalog/*
**/*/irServer/*
**/*/CatalogManagerWeb/*

# Cake
tools/**
!tools/packages.config