<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="inrule.logging" type="InRule.Repository.Logging.Configuration.LoggingSectionHandler, InRule.Repository" />
    <section name="inrule.runtime" type="InRule.Runtime.Configuration.RuntimeConfigSectionHandler, InRule.Runtime" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InRule.RuleServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="UseInRuleCatalog" value="true" />
    <add key="CatalogUri" value="http://localhost/InRuleCatalogService/service.svc" />
    <add key="CatalogSSO" value="false" />
    <add key="CatalogUser" value="Admin" />
    <add key="CatalogPassword" value="password" />
    <add key="RuleAppDirectory" value="C:\RuleApps" />
  </appSettings>
  <inrule.logging>
    <group typeName="InRule.Repository.Logging.Loggers.LoggerGroup, InRule.Repository" level="Info" name="logger">
      <!-- level is one of: Debug, Info, Warn, Error, Fatal -->
      <logger typeName="InRule.Repository.Logging.Loggers.EventLogLogger, InRule.Repository" />
    </group>
  </inrule.logging>
  <inrule.runtime>
    <ruleEngine compiledApplicationCacheDepth="25" />
  </inrule.runtime>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="generalREST" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="generalSOAP" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="InRule.RuleServices.ServiceBehavior" name="InRule.RuleServices.RuleExecutionService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="generalREST" contract="InRule.RuleServices.IRuleExecutionService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:50001/InRule.RuleServices/RuleExecutionService.svc" />
          </baseAddresses>
        </host>
      </service>
      <!--<service behaviorConfiguration="InRule.RuleServices.ServiceBehavior"
        name="InRule.RuleServices.RuleExecutionService">
        <endpoint address="" behaviorConfiguration="" binding="wsHttpBinding"
          bindingConfiguration="generalSOAP" contract="InRule.RuleServices.IRuleExecutionService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:50001/InRule.RuleServices/RuleExecutionService.svc" />
          </baseAddresses>
        </host>
      </service>-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="InRule.RuleServices.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Xml" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>