<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="inrule.logging" type="InRule.Repository.Logging.Configuration.LoggingSectionHandler, InRule.Repository" />
    </configSections>
  <inrule.logging>
    <group typeName="InRule.Repository.Logging.Loggers.LoggerGroup, InRule.Repository" level="Info">
      <logger typeName="InRule.Repository.Logging.Loggers.LibraryLogger, InRule.Repository" />
      <logger typeName="InRule.Repository.Logging.Loggers.EventLogLogger, InRule.Repository" />
    </group>
  </inrule.logging>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>