<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InRule.Common" version="5.4.0" targetFramework="net461" />
  <package id="InRule.Repository" version="5.4.0" targetFramework="net461" />
  <package id="InRule.Runtime" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="Serilog" version="2.7.1" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net461" />
</packages>