<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="inrule:runtime:overrides:operation1:RestOperation:uritemplate" value="api/vConfig/test" />
		<add key="inrule:runtime:overrides:operation1:RestOperation:body" value="{ 'Value': 'configBody' }" />
		<add key="inrule:runtime:overrides:operation1:RestOperation:headers:Header1" value="configHeader1" />
		<add key="inrule:runtime:overrides:operation1:RestOperation:headers:Header2" value="configHeader2" />
		<add key="inrule:runtime:overrides:operation1:RestOperation:headers:Header3" value="configHeader3" />
		<add key="inrule:runtime:overrides:operation1:RestOperation:headers:User-Agent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:50.0) Gecko/20100101 Firefox/50.0" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.115.5" newVersion="1.0.115.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>